# Pandas SeriesðŸ“œ
### A pandas series is a one dimensional  araay of indexed data
#### pandas.Series(data,index,dtype,copy)

In [3]:
# it can be created using A python list and Numpy Array
# create Series
import pandas as pd
import numpy as np
salary=pd.Series([20000,30000,40000,80000,100000])
print("A python list\n",salary)

numpy_Salary=pd.Series(np.array([20000,30000,40000,80000,100000]))
print("Numpy series\n",numpy_Salary)

A python list
 0     20000
1     30000
2     40000
3     80000
4    100000
dtype: int64
Numpy series
 0     20000
1     30000
2     40000
3     80000
4    100000
dtype: int32

### Setting index to the seriesðŸ‘‡

In [18]:
Salary_series_index=pd.Series(
    np.array([20000,30000,40000,80000,100000]),
    index=np.arange(0,10,2) # pass index parameter
)
Salary_series_index

0     20000
2     30000
4     40000
6     80000
8    100000
dtype: int32

In [19]:
# we can sepecify string as index value
emp_series=pd.Series(
    np.array([20000,30000,40000,80000,100000]),
    index=["A1","A2","A3","A4","A5"] # string as a row index
)
emp_series

A1     20000
A2     30000
A3     40000
A4     80000
A5    100000
dtype: int32

### Creating Series from DictionaryðŸ‘‡

In [21]:
prod_dict={"Dairy":2000,"Fruit Juice":4500,"Fruits":5500,"Vegetable":6000}
product_series=pd.Series(prod_dict)
product_series
# the key becomes the row index while the values is the row values  at that index

Dairy          2000
Fruit Juice    4500
Fruits         5500
Vegetable      6000
dtype: int64

### ACCESSING SERIES INDEX AND VALUESðŸ‘‡

In [23]:
subject_dict={"X":["Maths","Science","English"],
               "Y":["Maths","Science"],
              "Z":["History", "Polity"]
             }
Subject_Series=pd.Series(subject_dict)
Subject_Series

# If we have multiple values for a single key, those multiple values will take up a single row

X    [Maths, Science, English]
Y             [Maths, Science]
Z            [History, Polity]
dtype: object

In [30]:
subject_dict={"X":["Maths","Science","English"],
               "Y":["Maths","Science"],
              "Z":["History", "Polity"]
             }
Subject_Series=pd.Series(subject_dict)
print(Subject_Series.index)
print("--------------------")
# display values
print("Values Are \n")
print(Subject_Series.values)

Index(['X', 'Y', 'Z'], dtype='object')
----------------------------------------------------
Values Are

[list(['Maths', 'Science', 'English']) list(['Maths', 'Science'])
 list(['History', 'Polity'])]

### Accessing Series ElementsðŸ‘‡

In [38]:
subject_dict={"X":["Maths","Science","English"],
               "Y":["Maths","Science"],
              "Z":["History", "Polity"]
             }
Subject_Series=pd.Series(subject_dict)
Size=Subject_Series.size
print(Size)
print(Subject_Series[:Size]) # print all element
print("----------------------------------")
print(Subject_Series[:2]) # retrieve first 2 elemets

3
X    [Maths, Science, English]
Y             [Maths, Science]
Z            [History, Polity]
dtype: object
----------------------------------
X    [Maths, Science, English]
Y             [Maths, Science]
dtype: object

In [46]:
subject_dict={"X":["Maths","Science","English"],
               "Y":["Maths","Science"],
              "Z":["History", "Polity"]
             }
Subject_Series=pd.Series(subject_dict)
print(Subject_Series["X"]) # retrieving tehe element using 
print("-------------------------------")
print(Subject_Series[["X","Y"]]) # retrieving  multiple elements using the list of the indices

['Maths', 'Science', 'English']
-------------------------------
X    [Maths, Science, English]
Y             [Maths, Science]
dtype: object

In [43]:
# to print the element from the last
Name = pd.Series(["Himanshu","Ritesh","Rohit","Shivam","Virat","Rahul","Gill"])
print(Name)
print("----------------------------------")

print(Name[-5:]) # retrieve last five elements

0    Himanshu
1      Ritesh
2       Rohit
3      Shivam
4       Virat
5       Rahul
6        Gill
dtype: object
----------------------------------
2     Rohit
3    Shivam
4     Virat
5     Rahul
6      Gill
dtype: object

# --------------------------------------
## Filter the ValuesðŸ‘‡

In [61]:
Student_marks=pd.Series(
     np.array([95,93,85,75,76,80]),
    index=["Aman","Ankush","Rohit","Rohan","Vikash","varun"]
    
)
print(Student_marks[Student_marks>80])
print("--------------------------------")
print(Student_marks[Student_marks <95 ])

print(Student_marks["Aman"])

Aman      95
Ankush    93
Rohit     85
dtype: int32
--------------------------------
Ankush    93
Rohit     85
Rohan     75
Vikash    76
varun     80
dtype: int32
95

# Arithmetics OperationsðŸ‘‡

### Scaler -Series Multiplicaton

In [62]:
sales=pd.Series([1200,1500,2000])
Sales2=sales*2
print(Sales2)

0    2400
1    3000
2    4000
dtype: int64

In [63]:
# The multiply() method returns the element-wise multiplication of two series
MRP=pd.Series([12,15,18])
sales=pd.Series([10,15,20])

Total=MRP.multiply(sales)
print(Total)

0    120
1    225
2    360
dtype: int64

### Addition of two series

In [64]:
English_marks=pd.Series([98,85,90])
Maths_marks=pd.Series([90,92,82])

Total_marks=English_marks+Maths_marks
print(Total_marks)

0    188
1    177
2    172
dtype: int64

In [65]:
# If the length of the two series are different, then the addition of such series shows the null values (NaN) for the indexes where the values are missing in one of the series
English_marks=pd.Series([98,85,90])
Maths_marks=pd.Series([90,92])

Total_marks=English_marks+Maths_marks
print(Total_marks)

0    188.0
1    177.0
2      NaN
dtype: float64

## Series Ranking and Sorting

In [5]:
# creating Simple Array
Score = np.array([121,212,153,214,116,137,118,219,120])
score_series=pd.Series(Score)
score_series.rank() # returns the rank of the underlying data

# the Rank() method by default returns the ranking in ascending order

0    4.0
1    7.0
2    6.0
3    8.0
4    1.0
5    5.0
6    2.0
7    9.0
8    3.0
dtype: float64

#### The sort_values method sorts the series by values in the series

In [7]:
Score = np.array([121,212,153,214,np.nan,116,137,np.nan,219,120])
score_series=pd.Series(Score)
score_series.sort_values(ascending=True, na_position ="last") # here last -> return the null values in the last position

5    116.0
9    120.0
0    121.0
6    137.0
2    153.0
1    212.0
3    214.0
8    219.0
4      NaN
7      NaN
dtype: float64

In [8]:
Score = np.array([121,212,153,214,np.nan,116,137,np.nan,219,120])
score_series=pd.Series(Score)
score_series.sort_values(ascending=False, na_position ="first") # here first -> return the null values in the first  position

4      NaN
7      NaN
8    219.0
3    214.0
1    212.0
2    153.0
6    137.0
0    121.0
9    120.0
5    116.0
dtype: float64

## Checking Null Values
#### â€¢ The isnull() method returns the boolean output indicating the presence of null    values 
#### â€¢ â€˜Trueâ€™ value indicates that the corresponding value is null

#### â€¢ The notnull() method returns the boolean output indicating the presence of non-null values 
#### â€¢ â€˜Falseâ€™ in the output indicates that the corresponding value is null

In [9]:
height=pd.Series([4.4,np.nan,6.0,3.9,np.nan,5.4,5.9])
height.isnull()

0    False
1     True
2    False
3    False
4     True
5    False
6    False
dtype: bool

In [10]:
height=pd.Series([4.4,np.nan,6.0,3.9,np.nan,5.4,5.9])
height.notnull()

0     True
1    False
2     True
3     True
4    False
5     True
6     True
dtype: bool

## Concatenate A Series
#### create two series using linspace
#### "Start" returns the starting Value of the sequesnce
#### "Stop" returns the end point of the sequence
#### "num" returns the number of samples

In [16]:
class1=np.linspace(start=0,stop=20,num=11)
class1Series=pd.Series(class1)

class2=np.linspace(start=1,stop=21,num=11)
class2Series=pd.Series(class2)

print(pd.concat([class1Series,class2Series]))

0      0.0
1      2.0
2      4.0
3      6.0
4      8.0
5     10.0
6     12.0
7     14.0
8     16.0
9     18.0
10    20.0
0      1.0
1      3.0
2      5.0
3      7.0
4      9.0
5     11.0
6     13.0
7     15.0
8     17.0
9     19.0
10    21.0
dtype: float64

In [22]:
 concatedSequence =pd.concat([class1Series,class2Series], keys=["Even","Odd"],
              names =["Category","Index"])
print(concatedSequence)
print("--------------------------------------------------------------------------")

# we can access the 
print(concatedSequence["Even"])

Category  Index
Even      0         0.0
          1         2.0
          2         4.0
          3         6.0
          4         8.0
          5        10.0
          6        12.0
          7        14.0
          8        16.0
          9        18.0
          10       20.0
Odd       0         1.0
          1         3.0
          2         5.0
          3         7.0
          4         9.0
          5        11.0
          6        13.0
          7        15.0
          8        17.0
          9        19.0
          10       21.0
dtype: float64
--------------------------------------------------------------------------
Index
0      0.0
1      2.0
2      4.0
3      6.0
4      8.0
5     10.0
6     12.0
7     14.0
8     16.0
9     18.0
10    20.0
dtype: float64

## append() Method
#### The append() method is used append a series with another 
#### â€¢ Here, we append the â€˜class1_seriesâ€™ to â€˜class2_seriesâ€™ 
#### â€¢ Appended indexes are same as the original series

In [23]:
concatSeries=class1Series.append(class2Series,ignore_index=True)
print(concatSeries)

AttributeError: 'Series' object has no attribute 'append'